@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";


.interSemibold{
  font-family: "Inter", sans-serif;
  font-weight: 700;

}

.interRegular{
  font-family: "Inter", sans-serif;
  font-weight: 500;

}

html,body{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

html,
body,
#root {
  height: 100%;
}

/* 
@layer base {
  html,
  body,
  #root {
    @apply h-full;
  }
} */


.custom-emoji-picker * {
  scrollbar-width: thin;
  scrollbar-color: #888 transparent;
}

.custom-emoji-picker ::-webkit-scrollbar {
  width: 6px;
}

.custom-emoji-picker ::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

.custom-emoji-picker ::-webkit-scrollbar-thumb:hover {
  background-color: #aaa;
}


@layer utilities {
  @keyframes slideIn {
    from {
      transform: translateY(20px) scale(0.95);
      opacity: 0;
    }
    to {
      transform: translateY(0) scale(1);
      opacity: 1;
    }
  }

  .animate-slideIn {
    animation: slideIn 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
  }
}


h1,h2,h3,h4,h5,h6,p,span{
  line-height: 100%;
}

*{
  box-sizing: border-box
}


@theme inline {
  --color-main: #DD6700;
}